/* 선택자(selector) */

#header-center{ /* div#id 인경우는 div는 생략 가능 */
  margin: 0 auto;
  width:1080px;
}

#header-search > h1{    /* > 은 자식을 뜻함*/
  width:280px;
  display: inline-block;
}
/*
#header-center h1{


}
*/

#header-search h2{
  display: none;
}
#header-search fieldset{
  width:520px;
  display: inline-block;
}
